:root{
    --Primary-Color: #e8e8e8;
    --Secondary-Color: #53568a;
    --Accent1-Color: #540B0C;
    --Accent2-Color: #DFD7C8;
    --Devide-Color: #A3A5A3;
    --Bace-Color: #C5C7C6;
    font-size: 18px;
    font-family: verdana, Arial, sans-serif;
}
body{
    background: url("../img/background_img.jpg") no-repeat top left fixed;
    padding: 20px;
}
nav{
    font-size: 0.9em;
    color: var(--Devide-Color);
    position: relative;
    height: 36px;
    z-index: 1000;
    padding: 0;
    margin: 0;
    border: 1px solid #260707;
    border-bottom: 1.5px solid #000000;
    background: -webkit-linear-gradient(top, #551111, #260707);
}
nav div a{
    text-decoration: none;
    color: var(--Devide-Color);
}
nav div{
    padding: 0 16px;
    margin: 0;
    float: left;
    padding-inline-start: 40px;
    line-height: 36px;
    text-align: center;
    list-style-type: disc;
    border: 1px solid var(--Accent1-Color);
}
.background{
    /* height: 100vh; */
    background: var(--Primary-Color);
    box-shadow: 5px 0px 10px 0px rgb(10 10 10 / 50%), -5px 0px 10px 0px rgb(10 10 10 / 50%);
}
#Other-sites{
    
}
#logo a{
    display: block;
    background: url(../img/forum_banner_v2_050light.jpg) no-repeat;
    height: 100px;
}
.devide{
    background-color: var(--Bace-Color);
    height: 40px;
    border: 1px solid var(--Devide-Color);
}
.smalltext{
    font-size: .75em;
}
footer{
    height: 30px;
    background-color: var(--Bace-Color);
    text-align: center;
    border-top: 1px solid var(--Devide-Color);
    color: #000000;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.667em;
    margin: 0px auto;
}