:root{
    --Primary-Color: #e8e8e8;
    --Secondary-Color: #53568a;
    --Accent1-Color: #540B0C;
    --Accent2-Color: #DFD7C8;
    --Devide-Color: #A3A5A3;
    --Bace-Color: #C5C7C6;
    font-size: 12;
    font-family: verdana, Arial, sans-serif;
}
