.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
.image{
    width: 300px;
    margin: 0   auto
}
.North{
    grid-column: 1;
    grid-row: 1;
}
.Op-Spring{
    grid-column: 1;
    grid-row: 2;
}
.Jackdaw{
    grid-row: 1;
    grid-column: 2;
}
.PSA{
    grid-row: 2;
    grid-column: 2;
}