:root{
    --primary-color: #392f5a   ;
    --secondary-color: #9dd9d2 ;
    --accent1-color: #ff8811;
    --accent2-color: #fff8f0;
    --base-Background-color: #999;
    --headline-color-on-white: #392f5a;  /* headlines on a white background */ 
    --headline-color-on-color: #fff8f0; /* headlines on a colored background */ 
    --paragraph-color-on-white: #392f5a; /* paragraph text on a white background */ 
    --paragraph-color-on-color: #fff8f0; /* paragraph text on a colored background */ 
    --paragraph-background-color: #392f5a  ;
    --nav-link-color: #392f5a;
    --nav-background-color: #f4d06f;
    --nav-hover-link-color: #ff8811;
    --nav-hover-background-color: #392f5a;
}

body{
    background-color: var(--base-Background-color);
    font-size: 22px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
}
header{
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);

}
header a:hover{
    background-color: var(--nav-hover-link-color);
}
#content{
    max-width: 1600px;
    margin: 0 auto;

}
nav a{
    text-align: center;
    color:var(--nav-link-color);
    text-decoration: none;
    padding: 35px;
}
nav a:hover{
    color: var(--nav-link-color);
}
#Logo-Link{
    padding-top: 5px;
}
#hero-mag h1, h4{
    text-align: center;
}
#background{
    height: 725px;
    background-color: var(--primary-color);
}
main section img{
    box-sizing: border-box;
}
.home-title{
    font-size: 2em;
    margin-top: 10px;
}
.icon{
    width: 80px;
}
.button-box{
    text-align: center;
}
.book, .join{
    background-color: var(--primary-color);
    color: var(--accent2-color);
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img{
    border: 10px solid black;
}
.book:hover, .join:hover{
    background-color: var(--secondary-color);
    color: var(--primary-color);
}
.msg{
    background-color: var(--secondary-color);
    line-height: 1.5em;
}
.msg h2{
    padding: 35px;
    color: var(--headline-color-on-white);
}
.msg p{
    font-size: .8em;
    padding-bottom: 15px;
    color: var(--paragraph-color-on-white);
}
.Rivers-card, .Camping-Card, .rapids-card{
    margin: 200px 0;
}
footer{
    margin-top: 200px;
    padding: 25px 50px;
    background-color: var(--primary-color);
    color: var(--paragraph-color-on-color);
}
footer p{
    font-size: 1.2em;
}
footer p:hover{
    text-decoration: underline;
}
footer a{
    color: var(--secondary-color);
    text-decoration: none;
}
footer a:hover{
    color: var(--accent1-color);
}
main{
    text-align: center;
}
footer .scocal img{
    padding-top: 15px;
}